@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto:wght@400;700;900&display=swap');

:root
{
    --green: green ;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,0.1);
    --border: .2rem solid rgba(0,0,0,0.1);
    --outline: .1rem solid rgba(0,0,0,0.1);
}

*
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}


html 
{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body
{
    background: #eee;
}

/* CSS CODE for banner*/
section
{
    padding: 4rem 9%;
    /* margin-bottom: 3rem; */
}

.heading
{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--black);
}

.heading span
{
    background-color: var(--green);
    color: #fff;
    display: inline-block;
    padding: 0.5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.btn
{
    border: 0 solid var(--black);
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 3rem;
    font-size: 2rem;
    border-radius: 0.5rem;
    color: var(--black);
    cursor: pointer;
    background: none;
    box-shadow: 0px 1px 7px rgba(0, 100, 0, 0.75);
}

.btn:hover
{
    background: var(--green);
    color: #fff;
}

.header
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4%;
    background: #fff;
    box-shadow: 0px 60px 100px rgba(11, 172, 11,0.5);
}

.header .logo 
{
    margin: -20px 0;
    padding-right: -100px;
}

.header .logo .groco_logo
{
    width: 24rem;
}


.header .navbar a 
{
    font-size: 1.8rem;
    margin: 0 1.5rem;
    color: var(--black);
}

.header .navbar a:hover
{
    color: var(--green);
}

.header .navbar a::after
{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: green;
    border-radius: 0.5rem;
    transform-origin: left;
    transform: scaleX(0);
    transition: all 1s;
}

.header .navbar a:hover::after
{
    transform: scaleX(1);
}

.header .icons div
{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    border-radius: 0.5rem;
    background: #eee;
    color: var(--black);
    font-size: 2.3rem;
    text-align: center;
}

.header .icons div:hover 
{
    background: var(--green);
    cursor: pointer;
    color: white;
}


#menu-btn
{
    display: none;
}

.header .navbar.active
{
    right: 2rem;
    transition: 0.4s linear;
}

.header .search-form
{
   position: absolute;
   top: 110%;
   right: -110%; 
   width: 50rem;
   height: 5rem;
   background: #fff;
   border-radius: 0.5rem;
   overflow: hidden;
   display: flex;
   align-items: center;
   border: 0 solid;
   box-shadow: var(--box-shadow);
}

.header .search-form.active
{
    right: 2rem;
    transition: 0.4s linear;
}

.header .search-form input
{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 0 1.5rem;
}

.header .search-form label
{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .search-form label:hover
{
    color: var(--green);
}

.header .shopping-cart 
{
    border: 0 solid;
    position: absolute;
    top: 110%;
    right: -110%;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    width: 35rem;
    background: #fff;
}

.header .shopping-cart.active
{
    right: 2rem;
    transition: 0.4s linear;
}

.header .shopping-cart .box
{
    border: 0 solid blue;
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
}

.header .shopping-cart .box img
{
    height: 10rem;
}

.header .shopping-cart .box .fa-trash
{
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    cursor: pointer;
    color: var(--light-color);
    transform: translateY(-50%);
}

.header .shopping-cart .box .fa-trash:hover
{
    color: var(--green);
}

.header .shopping-cart .box .content h3
{
    color: var(--black);
    font-size: 1.7rem;
    padding-bottom: 1rem;
}

.header .shopping-cart .box .content span
{
    color: var(--light-color);
    font-size: 1.6rem;
}

.header .shopping-cart .box .content .quantity
{
    padding-left: 1rem;
}

.header .shopping-cart .total
{
    font-size: 2.5rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--black);
}

.header .shopping-cart .btn
{
    display: block;
    text-align: center;
    margin: 1rem 0;
}

.header .login-form
{
    border: 0px solid;
    position: absolute;
    top: 110%;
    width: 35rem;
    right: -110%;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: 0.5rem;
    background: #fff;
    text-align: center;
}

.header .login-form.active
{
    right: 2rem;
    transition: 0.4s linear;
}

.header .login-form h3
{
    font-size: 2.5rem;
    color: var(--black);
}

.header .login-form .box
{
    border: 0px solid;
    margin: 0.7rem 0;
    background: #eee;
    border-radius: 0.5rem;
    padding: 1rem ;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    width: 100%;
}

.header .login-form p
{
    font-size: 1.4rem;
    padding:.5rem 0 ;
    color: var(--light-color);
}

.header .login-form p a
{
    color: var(--green);
    text-decoration: underline;
}

.home
{
    border: 0 solid;
    display: flex;
    justify-content: right;
    background: url(../image/banner-img2.jpg) no-repeat ;
    background-position: right;
    background-size: cover;
    padding-top: 22rem;
    padding-bottom: 17rem;
}

.home .content
{
    text-align: right;
    border: 0 solid;
    width: 80rem;
}

.home .content h3
{
    color: var(--black);
    font-size: 4.4rem;
}

.home .content span
{
    color: var(--green);
}

.home .content p
{
    color: var(--light-color);
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8;
}

.home .content pre
{
    color: var(--light-color);
    font-size: 1.7rem;
    line-height: 1.8;
    margin-bottom: -4rem;
    text-align: center;
}

/*features*/
.features .box-container
{
    border: 0 solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.features .box-container .box
{
    border: 0 solid red;
    padding: 4rem 2rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    border-radius: 0.7rem;
}

.features .box-container .box:hover
{
    box-shadow: 0px 0px 7px 5px rgb(26, 171, 26);
}

.features .box-container .box img
{
    margin: 1rem 0;
    height: 20rem;
}

.features .box-container .box h3
{
    font-size: 2.3rem;
    line-height: 1.8;
    color: var(--black);

}

.features .box-container .box p
{
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--light-color);
    padding-bottom: 1.5rem 0;
    
}

/*products*/

.products .product-slider
{
    border: 0 solid;
    padding: 1rem;
}

.products .product-slider:first-child
{
    margin-bottom: 2rem;
}

.products .product-slider .box
{
    border: 0 solid red;
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 3.5rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: 0.2s linear;
    margin-right: 1rem;
    
}

.products .product-slider .box:hover
{
    box-shadow: 0px 0px 7px 5px rgb(26, 171, 26);
}

.products .product-slider .box img
{
    /* margin: 0.5rem 0; */
    height: 24rem;
}

.products .product-slider .box h1
{
    font-size: 2.5rem;
    color: var(--black);

}

.products .product-slider .box .price
{
    font-size: 2rem;
    color: var(--light-color);
    padding-bottom: .5rem 0;   
}

.products .product-slider .box .stars i
{
    font-size: 1.7rem;
    color: orange;
    padding: 0.5rem 0;
}



/*categories*/

.categories .box-container
{
    border: 0 solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem;
}

.categories .box-container .box
{
    border: 0 solid red;
    padding: 6rem 0;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
}

.categories .box-container .box:hover
{
    box-shadow: 0px 0px 9px 4px green;
}

.categories .box-container .box img
{
    margin: 1rem 0;
    height: 15rem;
}

.categories .box-container .box h3
{
    font-size: 2.3rem;
    line-height: 1.8;
    color: var(--black);

}

.categories .box-container .box p
{
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--light-color);
    padding-bottom: 1.5rem 0;
    
}

/* review*/

.review .review-slider
{
    border: 0 solid;
    padding: 1rem;
}

.review .review-slider .box
{
    border: 0 solid red;
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 6rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: 0.2s linear;
    
}

.review .review-slider .box:hover
{
    box-shadow: 0px 0px 9px 4px green;
}

.review .review-slider .box img
{
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    margin-bottom: 3rem;

}

.review .review-slider .box p
{
    padding: 1rem 0;
    line-height: 1.8;
    color: var(--light-color);
    font-size: 1.5rem;
}

.review .review-slider .box h3
{
    padding-bottom: .5rem;
    color: var(--black);
    font-size: 2.2rem;
}


.review .review-slider .box .stars i
{
    font-size: 1.7rem;
    color: orange;
}



/* blogs */

.blogs .box-container
{
    border: 0 solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem;
}

.blogs .box-container .box
{
    background: #fff;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    overflow: hidden;
}

.blogs .box-container .box img
{
    width: 100%;
    height: 25rem;
    object-fit: cover;
}

.blogs .box-container .box .content
{
    padding: 2.5rem 3.5rem;
}

.blogs .box-container .box .content .icons
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: var(--border);
}

.blogs .box-container .box .content .icons a
{
    color: var(--light-color);
    font-size: 1.5rem;
}

.blogs .box-container .box .content .icons a:hover
{
    color: var(--black);
}

.blogs .box-container .box .content .icons a i
{
    color: green;
    padding-right: .5rem;
}

.blogs .box-container .box .content h3
{
    line-height: 1.8;
    color: var(--black);
    font-size: 2.2rem;
    padding-bottom: .5rem 0 ;
}

.blogs .box-container .box .content p
{
    line-height: 1.8;
    color: var(--light-color);
    font-size: 1.5rem;
    padding-bottom: .5rem 0 ;
}



/* footer css */
.footer
{
    background-color: #fff;
}

.footer .box-container
{
    border: 0 solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3
{
    font-size: 2.5rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer .box-container .box img
{
    width: 25rem;
}

.footer .box-container .box .links
{
    display: block;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box .links i
{
    color: var(--green);
    padding-right: 0.5rem;
}

.footer .box-container .box .links:hover i
{
    padding-right: 2rem;
}

.footer .box-container .box p
{
    line-height: 1.8;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box .share a
{
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    color: var(--black);
    margin-left: 0.2rem;
    background: #eee;
    text-align: center;
}

.footer .box-container .box .share a:hover
{
    background: var(--green);
    color: #fff;
}

.footer .box-container .box .email
{
    margin: .7rem 0;
    width: 100%;
    padding: 1rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}

.footer .box-container .box .payment-img
{
    margin-top: 2rem;
    height: 3rem;
}

.footer .credit
{
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: var(--black);
    border-top: 0.3rem solid rgba(0,0,0,0.1);
    color: rgb(82, 82, 82);
    font-size: 1.7rem;
}

.footer .credit span
{
    color: var(--green);
    font-size: 2.5rem;
}



/** media queries **/
@media (max-width: 991px)
{
    html 
    {
        font-size: 55%;
    }
    .header
    {
        padding: 2rem;
    }
    section
    {
        padding: 2rem;
    }
}

@media (max-width: 768px)
{
    #menu-btn
    {
        display: inline-block;
    }

    .header .search-form
    {
        width: 90%;
    }

    .header .navbar
    {
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow) ;
        border-radius: 0.5rem;
        background: #fff;
    }

    .header .navbar a
    {
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }
    
}

@media (max-width: 450px)
{
    html 
    {
        font-size: 50%;
    }

    .heading
    {
        font-size: 2.5rem;
    }

    .footer
    {
        text-align: center;
    }
}

.hrline {
    border-top: 3px solid rgb(229, 229, 229) ;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.maps{
    text-align: center;
    /* margin-left: -10rem; */
    
}